#ifsc-logo {
    width: 250px;
}

#bar {
    background-color: green;
}
#title-dropdown {
    text-align: center;
    font-weight: bold;
}
#ditem {
    background-color: rgba(207, 207, 207, 0.089);
}
#navitem{
    font-family: 'Unispace';
}